<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <application
        android:theme="@style/AppTheme"
        android:label="Astra Widgets"
        android:icon="@drawable/astra_logo"
        android:roundIcon="@drawable/astra_logo"
        android:resizeableActivity="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <receiver
            android:name=".AstraWidgetProvider"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />

        </receiver>

        <service
            android:name=".ReflectionService"
            android:exported="false"
            android:foregroundServiceType="specialUse">

            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="gyroscope_based_widget_reflection" />

        </service>

    </application>

</manifest>